<a href="https://colab.research.google.com/github/JaimieOnigkeit/DS-Unit-2-Kaggle-Challenge/blob/master/module2-random-forests/Jaimie_Onigkeit_LS_DS_222_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 2, Module 2*

---

# Random Forests

## Assignment
- [ ] Read [“Adopting a Hypothesis-Driven Workflow”](https://outline.com/5S5tsB), a blog post by a Lambda DS student about the Tanzania Waterpumps challenge.
- [ ] Continue to participate in our Kaggle challenge.
- [ ] Define a function to wrangle train, validate, and test sets in the same way. Clean outliers and engineer features.
- [ ] Try Ordinal Encoding.
- [ ] Try a Random Forest Classifier.
- [ ] Submit your predictions to our Kaggle competition. (Go to our Kaggle InClass competition webpage. Use the blue **Submit Predictions** button to upload your CSV file. Or you can use the Kaggle API to submit your predictions.)
- [ ] Commit your notebook to your fork of the GitHub repo.

## Stretch Goals

### Doing
- [ ] Add your own stretch goal(s) !
- [ ] Do more exploratory data analysis, data cleaning, feature engineering, and feature selection.
- [ ] Try other [categorical encodings](https://contrib.scikit-learn.org/categorical-encoding/).
- [ ] Get and plot your feature importances.
- [ ] Make visualizations and share on Slack.

### Reading

Top recommendations in _**bold italic:**_

#### Decision Trees
- A Visual Introduction to Machine Learning, [Part 1: A Decision Tree](http://www.r2d3.us/visual-intro-to-machine-learning-part-1/),  and _**[Part 2: Bias and Variance](http://www.r2d3.us/visual-intro-to-machine-learning-part-2/)**_
- [Decision Trees: Advantages & Disadvantages](https://christophm.github.io/interpretable-ml-book/tree.html#advantages-2)
- [How a Russian mathematician constructed a decision tree — by hand — to solve a medical problem](http://fastml.com/how-a-russian-mathematician-constructed-a-decision-tree-by-hand-to-solve-a-medical-problem/)
- [How decision trees work](https://brohrer.github.io/how_decision_trees_work.html)
- [Let’s Write a Decision Tree Classifier from Scratch](https://www.youtube.com/watch?v=LDRbO9a6XPU)

#### Random Forests
- [_An Introduction to Statistical Learning_](http://www-bcf.usc.edu/~gareth/ISL/), Chapter 8: Tree-Based Methods
- [Coloring with Random Forests](http://structuringtheunstructured.blogspot.com/2017/11/coloring-with-random-forests.html)
- _**[Random Forests for Complete Beginners: The definitive guide to Random Forests and Decision Trees](https://victorzhou.com/blog/intro-to-random-forests/)**_

#### Categorical encoding for trees
- [Are categorical variables getting lost in your random forests?](https://roamanalytics.com/2016/10/28/are-categorical-variables-getting-lost-in-your-random-forests/)
- [Beyond One-Hot: An Exploration of Categorical Variables](http://www.willmcginnis.com/2015/11/29/beyond-one-hot-an-exploration-of-categorical-variables/)
- _**[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)**_
- _**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)**_
- [Mean (likelihood) encodings: a comprehensive study](https://www.kaggle.com/vprokopev/mean-likelihood-encodings-a-comprehensive-study)
- [The Mechanics of Machine Learning, Chapter 6: Categorically Speaking](https://mlbook.explained.ai/catvars.html)

#### Imposter Syndrome
- [Effort Shock and Reward Shock (How The Karate Kid Ruined The Modern World)](http://www.tempobook.com/2014/07/09/effort-shock-and-reward-shock/)
- [How to manage impostor syndrome in data science](https://towardsdatascience.com/how-to-manage-impostor-syndrome-in-data-science-ad814809f068)
- ["I am not a real data scientist"](https://brohrer.github.io/imposter_syndrome.html)
- _**[Imposter Syndrome in Data Science](https://caitlinhudon.com/2018/01/19/imposter-syndrome-in-data-science/)**_


### More Categorical Encodings

**1.** The article **[Categorical Features and Encoding in Decision Trees](https://medium.com/data-design/visiting-categorical-features-and-encoding-in-decision-trees-53400fa65931)** mentions 4 encodings:

- **"Categorical Encoding":** This means using the raw categorical values as-is, not encoded. Scikit-learn doesn't support this, but some tree algorithm implementations do. For example, [Catboost](https://catboost.ai/), or R's [rpart](https://cran.r-project.org/web/packages/rpart/index.html) package.
- **Numeric Encoding:** Synonymous with Label Encoding, or "Ordinal" Encoding with random order. We can use [category_encoders.OrdinalEncoder](https://contrib.scikit-learn.org/categorical-encoding/ordinal.html).
- **One-Hot Encoding:** We can use [category_encoders.OneHotEncoder](http://contrib.scikit-learn.org/categorical-encoding/onehot.html).
- **Binary Encoding:** We can use [category_encoders.BinaryEncoder](http://contrib.scikit-learn.org/categorical-encoding/binary.html).


**2.** The short video 
**[Coursera — How to Win a Data Science Competition: Learn from Top Kagglers — Concept of mean encoding](https://www.coursera.org/lecture/competitive-data-science/concept-of-mean-encoding-b5Gxv)** introduces an interesting idea: use both X _and_ y to encode categoricals.

Category Encoders has multiple implementations of this general concept:

- [CatBoost Encoder](http://contrib.scikit-learn.org/categorical-encoding/catboost.html)
- [James-Stein Encoder](http://contrib.scikit-learn.org/categorical-encoding/jamesstein.html)
- [Leave One Out](http://contrib.scikit-learn.org/categorical-encoding/leaveoneout.html)
- [M-estimate](http://contrib.scikit-learn.org/categorical-encoding/mestimate.html)
- [Target Encoder](http://contrib.scikit-learn.org/categorical-encoding/targetencoder.html)
- [Weight of Evidence](http://contrib.scikit-learn.org/categorical-encoding/woe.html)

Category Encoder's mean encoding implementations work for regression problems or binary classification problems. 

For multi-class classification problems, you will need to temporarily reformulate it as binary classification. For example:

```python
encoder = ce.TargetEncoder(min_samples_leaf=..., smoothing=...) # Both parameters > 1 to avoid overfitting
X_train_encoded = encoder.fit_transform(X_train, y_train=='functional')
X_val_encoded = encoder.transform(X_train, y_val=='functional')
```

For this reason, mean encoding won't work well within pipelines for multi-class classification problems.

**3.** The **[dirty_cat](https://dirty-cat.github.io/stable/)** library has a Target Encoder implementation that works with multi-class classification.

```python
 dirty_cat.TargetEncoder(clf_type='multiclass-clf')
```
It also implements an interesting idea called ["Similarity Encoder" for dirty categories](https://www.slideshare.net/GaelVaroquaux/machine-learning-on-non-curated-data-154905090).

However, it seems like dirty_cat doesn't handle missing values or unknown categories as well as category_encoders does. And you may need to use it with one column at a time, instead of with your whole dataframe.

**4. [Embeddings](https://www.kaggle.com/learn/embeddings)** can work well with sparse / high cardinality categoricals.

_**I hope it’s not too frustrating or confusing that there’s not one “canonical” way to encode categoricals. It’s an active area of research and experimentation! Maybe you can make your own contributions!**_

### Setup

You can work locally (follow the [local setup instructions](https://lambdaschool.github.io/ds/unit2/local/)) or on Colab (run the code cell below).

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Kaggle-Challenge/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'

In [146]:
import pandas as pd
from sklearn.model_selection import train_test_split


train = pd.merge(pd.read_csv(DATA_PATH+'waterpumps/train_features.csv'), 
                 pd.read_csv(DATA_PATH+'waterpumps/train_labels.csv'))
test = pd.read_csv(DATA_PATH+'waterpumps/test_features.csv')
sample_submission = pd.read_csv(DATA_PATH+'waterpumps/sample_submission.csv')

train.shape, test.shape

((59400, 41), (14358, 40))

In [0]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

In [148]:
#Train, Validate split
train, val = train_test_split(train, train_size=0.80, test_size=0.20,
                              stratify=train['status_group'], random_state=42)

train.shape, val.shape, test.shape

((47520, 41), (11880, 41), (14358, 40))

In [0]:
#Pull out test id for later
test_id = test['id']

In [150]:
#pick target, features
#First, we'll try just using numeric data
target = 'status_group'
train_features = train.drop(columns=[target
                                    , 'id'
                                     ])
numeric_features = train_features.select_dtypes(include='number').columns.tolist()
features = numeric_features 
print(features)

['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private', 'region_code', 'district_code', 'population', 'construction_year']

In [0]:
#Split x and y
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

In [152]:
#Make the pipeline, train decision tree and check validation accuracy
pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True),
    SimpleImputer(strategy='mean'),
    DecisionTreeClassifier(random_state=42, min_samples_leaf=20)
)

# Fit on training
pipeline.fit(X_train, y_train)

print ('Train Accuracy', pipeline.score(X_train, y_train))
print ('Validation Accuracy', pipeline.score(X_val, y_val))

Train Accuracy 0.7430345117845117
Validation Accuracy 0.6837542087542088

In [153]:
#Do one hot encoding and Kmeans
train.describe(include='object')

       date_recorded                  funder  ... waterpoint_type_group status_group
count          47520                   44616  ...                 47520        47520
unique           349                    1716  ...                     6            3
top       2011-03-17  Government Of Tanzania  ...    communal standpipe   functional
freq             474                    7321  ...                 27642        25807

[4 rows x 31 columns]

In [0]:
cardinality = train_features.select_dtypes(exclude='number').nunique()
categorical_features = cardinality[cardinality <= 20].index.tolist()

In [155]:
categorical_features

['basin',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'permit',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'source_class',
 'waterpoint_type',
 'waterpoint_type_group']

In [0]:
features = categorical_features

In [0]:
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

In [0]:
Xy_train = pd.merge(X_train, y_train, how='inner', left_index=True, right_index=True)

In [0]:
encoder = ce.OneHotEncoder(use_cat_names=True)
Xy_train = encoder.fit_transform(Xy_train)

In [160]:
Xy_train.shape

(47520, 158)

In [161]:
Xy_train.head()

       basin_Lake Nyasa  ...  status_group_functional needs repair
43360                 1  ...                                     0
7263                  0  ...                                     0
2486                  0  ...                                     0
313                   0  ...                                     0
52726                 0  ...                                     0

[5 rows x 158 columns]

In [0]:
X_train = Xy_train.drop(columns=['status_group_functional',	
                                 'status_group_non functional',	
                                 'status_group_functional needs repair'])
y_train = Xy_train['status_group_functional']

In [163]:
X_train.dtypes
y_train.dtypes

dtype('int64')

In [164]:
from sklearn.feature_selection import SelectKBest, f_regression

selector = SelectKBest(score_func=f_regression, k=50)

X_train_selected = selector.fit_transform(X_train, y_train)
X_train_selected.shape

/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:299: RuntimeWarning: divide by zero encountered in true_divide
  corr /= X_norms
/usr/local/lib/python3.6/dist-packages/sklearn/feature_selection/_univariate_selection.py:304: RuntimeWarning: invalid value encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in greater
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning: invalid value encountered in less
  return (a < x) & (x < b)
/usr/local/lib/python3.6/dist-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

(47520, 50)

In [165]:
selected_mask = selector.get_support()
all_names = X_train.columns
selected_names = all_names[selected_mask]
unselected_names = all_names[~selected_mask]

print('Features selected:')
for name in selected_names:
    print(name)

print('\n')
print('Features not selected:')
for name in unselected_names:
    print(name)

Features selected:
basin_Lake Nyasa
basin_Rufiji
basin_Ruvuma / Southern Coast
public_meeting_True
public_meeting_False
scheme_management_VWC
scheme_management_Water Board
extraction_type_gravity
extraction_type_other
extraction_type_mono
extraction_type_nira/tanira
extraction_type_group_gravity
extraction_type_group_other
extraction_type_group_mono
extraction_type_group_nira/tanira
extraction_type_class_gravity
extraction_type_class_handpump
extraction_type_class_other
extraction_type_class_motorpump
management_vwc
management_private operator
management_water board
payment_never pay
payment_pay monthly
payment_pay per bucket
payment_unknown
payment_pay annually
payment_type_never pay
payment_type_monthly
payment_type_per bucket
payment_type_unknown
payment_type_annually
water_quality_soft
water_quality_unknown
quality_group_good
quality_group_unknown
quantity_enough
quantity_dry
quantity_group_enough
quantity_group_dry
source_spring
source_lake
source_type_spring
waterpoint_type_communal standpipe
waterpoint_type_hand pump
waterpoint_type_other
waterpoint_type_communal standpipe multiple
waterpoint_type_group_communal standpipe
waterpoint_type_group_hand pump
waterpoint_type_group_other


Features not selected:
basin_Wami / Ruvu
basin_Lake Victoria
basin_Internal
basin_Lake Tanganyika
basin_Pangani
basin_Lake Rukwa
public_meeting_nan
recorded_by_GeoData Consultants Ltd
scheme_management_WUA
scheme_management_nan
scheme_management_Water authority
scheme_management_Parastatal
scheme_management_Company
scheme_management_Private operator
scheme_management_WUG
scheme_management_Other
scheme_management_SWC
scheme_management_Trust
scheme_management_None
permit_nan
permit_True
permit_False
extraction_type_india mark ii
extraction_type_swn 80
extraction_type_submersible
extraction_type_ksb
extraction_type_other - swn 81
extraction_type_afridev
extraction_type_india mark iii
extraction_type_other - play pump
extraction_type_other - rope pump
extraction_type_climax
extraction_type_cemo
extraction_type_walimi
extraction_type_windmill
extraction_type_other - mkulima/shinyanga
extraction_type_group_india mark ii
extraction_type_group_swn 80
extraction_type_group_submersible
extraction_type_group_other handpump
extraction_type_group_afridev
extraction_type_group_india mark iii
extraction_type_group_rope pump
extraction_type_group_other motorpump
extraction_type_group_wind-powered
extraction_type_class_submersible
extraction_type_class_rope pump
extraction_type_class_wind-powered
management_wua
management_water authority
management_parastatal
management_wug
management_unknown
management_company
management_other
management_other - school
management_trust
management_group_user-group
management_group_commercial
management_group_parastatal
management_group_unknown
management_group_other
payment_pay when scheme fails
payment_other
payment_type_on failure
payment_type_other
water_quality_salty
water_quality_fluoride
water_quality_milky
water_quality_salty abandoned
water_quality_coloured
water_quality_fluoride abandoned
quality_group_salty
quality_group_fluoride
quality_group_milky
quality_group_colored
quantity_insufficient
quantity_seasonal
quantity_unknown
quantity_group_insufficient
quantity_group_seasonal
quantity_group_unknown
source_shallow well
source_machine dbh
source_river
source_hand dtw
source_rainwater harvesting
source_dam
source_other
source_unknown
source_type_shallow well
source_type_borehole
source_type_river/lake
source_type_rainwater harvesting
source_type_dam
source_type_other
source_class_groundwater
source_class_surface
source_class_unknown
waterpoint_type_improved spring
waterpoint_type_cattle trough
waterpoint_type_dam
waterpoint_type_group_improved spring
waterpoint_type_group_cattle trough
waterpoint_type_group_dam

In [0]:

def cardinality(column):
  '''
  Reduces the cardinality of a column of values
  Replaces all but the top ten values with 'OTHER'
  '''
  top10 = train[column].value_counts()[:10].index
  train.loc[~train[column].isin(top10), column] = 'Other'
  test.loc[~test[column].isin(top10), column] = 'Other'

In [0]:
#cardinality('basin')
#cardinality('extraction_type')
#cardinality('management')
#cardinality('payment')
#cardinality('water_quality')
#cardinality('quality_group')
#cardinality('source')
#cardinality('waterpoint_type')

In [168]:
train.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group', 'status_group'],
      dtype='object')

In [179]:
#pick target, features
#First, we'll try just using numeric data
target = 'status_group'
train_features = train.drop(columns=[target
                                    , 'id'                                    
                                    , 'date_recorded'
                                    , 'funder'
                                    , 'installer'
                                    , 'wpt_name'
                                    , 'subvillage'
                                    , 'region'
                                    , 'lga'
                                    , 'ward'
                                    , 'public_meeting'
                                    , 'recorded_by'
                                    , 'scheme_management'
                                    , 'scheme_name'
                                    , 'permit'
                                    , 'extraction_type_group'
                                    , 'extraction_type_class'
                                    , 'management_group'
                                    , 'payment_type'
                                    , 'quantity'
                                    #, 'quantity_group'
                                    , 'source_type'
                                    , 'source_class'
                                    , 'waterpoint_type_group'
                                     ])
numeric_features = train_features.select_dtypes(include='number').columns.tolist()
cardinality = train_features.select_dtypes(exclude='number').nunique()
categorical_features = cardinality[cardinality <= 20].index.tolist()
features = numeric_features + categorical_features
print(features)

['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private', 'region_code', 'district_code', 'population', 'construction_year', 'basin', 'extraction_type', 'management', 'payment', 'water_quality', 'quality_group', 'quantity_group', 'source', 'waterpoint_type']

In [0]:
X_train = train[features]
y_train = train[target]
X_val = val[features]
y_val = val[target]
X_test = test[features]

In [201]:
import category_encoders as ce
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median'),
    RandomForestClassifier(random_state=22, n_jobs=-1)
)

# Fit on training
pipeline.fit(X_train, y_train)

print ('Train Accuracy', pipeline.score(X_train, y_train))
print ('Validation Accuracy', pipeline.score(X_val, y_val))

Train Accuracy 0.9950547138047138
Validation Accuracy 0.80496632996633

In [0]:
y_pred = pipeline.predict(X_test)
status_group = pd.DataFrame(data=y_pred)
final = pd.merge(test_id, status_group, left_index=True, right_index=True, how='inner')
final = final.set_index('id')
final = final.rename(columns= {0:'status_group'})

In [0]:
from google.colab import files
final.to_csv('jaimie-onigkeit-final4.csv') 
files.download('jaimie-onigkeit-final4.csv')